{% extends 'main/base.html' %}

{% block title %}
Друзья
{% endblock %}

{% block content %}
{% for friend in friends %}
<br>
<div class="card" style="width: 18rem;">
  <ul class="list-group list-group-flush">
     <li class="list-group-item">{{ friend.username }}</li>
     <li class="list-group-item">{{ friend.first_name }}</li>
     <li class="list-group-item">{{ friend.last_name }}</li>
     <li class="list-group-item">{{ friend.age }}</li>
     <li class="list-group-item">{{ friend.job }}</li>
      <form method="get">
          <p><input type="text" class="mt-2" name="chat_room_name" placeholder="Enter chat room name">
              <button name="invite-button" value="{{ friend.username }}" class="btn btn-primary" type="submit">Invite to chat {{ friend.username }}</button>
      </form>
  </ul>
</div>
<br>
{% endfor %}
{%endblock%}
